<% analyzed_text = TextAnalyzer.new(params[:user_text]) %>
<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= analyzed_text.count_of_words %></h2>

<h2>Vowels: <%= analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= analyzed_text.count_of_consonants %></h2>

<% letter = @analyzed_text.most_used_letter.keys.to_s %>
<% l = letter.match(/[a-z]/).to_s %>
<% l = l.upcase! %>
<% number = @analyzed_text.most_used_letter.values.to_s %>
<% n = number.match(/[0-9]/) %>
<h2>Most Common Letter: <%= l %>, used <%= n %> times</h2>
