<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @text.word_count %></h2>

<h2>Vowels: <%= @text.vowel_count %></h2>

<h2>Consonants: <%= @text.consonant_count %></h2>

<h2>Most Common Letter: <%= @text.most_common_letter.first %>, used <%= @text.most_common_letter_count %> times</h2>
