<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words.to_s %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels.to_s %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants.to_s %></h2>

<% @analyzed_text.most_used_letter.each do |key, value| %>
    <% @letter = key.to_s.upcase %>
    <% @frequency = value %>
<% end.first %>

<h2>Most Common Letter: <%= @letter %>, used <%= @frequency %> times</h2>
