<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@count%></h2>

<h2>Vowels: <%=@vowels%></h2>

<h2>Consonants: <%=@other%></h2>

<h2>Most Common Letter: <%=@letter%>, used 
<%=@number%> times</h2>
